
<div class="search-container d-flex align-self-bottom">
    <div class="search-bar w-100">
        <i class="fa-solid fa-magnifying-glass search"></i>
        <input class="form-control w-100" type="text" placeholder="Search for recipes..." aria-label="Search"
            [(ngModel)]="searchQuery" (input)="search(searchQuery)"
        >
        @if(searchQuery){
            <i class="fa-solid fa-x clear" (click)="onClear()"></i>
        }
    </div>

    <div *ngIf="(searchResults$ | async)?.length as resultsLength" class="dropdown-list overflow-y-auto w-100" style="max-height: 300px;">
      <ul *ngIf="resultsLength > 0">
        <li *ngFor="let result of displayedResults" class="dropdown-item"  (click)="result.user?.role === 'premium' &&  token !=='premium' ? premiumRecipeClick() : onSelect(result.id)">
            <img [src]="result.image" alt="{{ result.name }}" />
            
            <p>{{ result.name }} <span class="badge " *ngIf="result.user?.role === 'premium'"><i class="fa-solid fa-crown pb-1" ></i></span></p>
            <!-- <p>{{ result.ingerdiants.name }}</p> -->
        </li>
        </ul>
    </div>
</div>
