<div class="container my-5 d-flex flex-column align-items-center" style="height: 55vh;">
  <h1 class="text-center text-uppercase fw-bold title">lets get premium!!</h1>
  <div class="content-wrapper my-3 d-flex gap-4 justify-content-center">
    <div class="premium-section py-4 px-5 bg-warning-subtle rounded">
      <div class="title border-bottom border-success">
        <h1 class="h4 text-uppercase text-center">premium</h1>
      </div>
      <ul class="list-unstyled mt-3">
        <li class="mb-2">
          <i class="fa-solid fa-check text-success me-2"></i> <span class="text-capitalize feature">browse recipes</span>
        </li>
        <li class="mb-2">
          <i class="fa-solid fa-check text-success me-2"></i> <span class="text-capitalize feature">favorite recipes</span>
        </li>
        <li class="mb-2">
          <i class="fa-solid fa-check text-success me-2"></i> <span class="text-capitalize feature">leave a comment</span>
        </li>
        <li class="mb-2">
          <i class="fa-solid fa-check text-success me-2"></i> <span class="text-capitalize feature">Access Premium Recipes</span>
        </li>
        <li class="">
          <i class="fa-solid fa-check text-success me-2"></i> <span class="text-capitalize feature">share your magical recipies</span>
        </li>
      </ul>
    </div>
    <div class="regular-section py-4 px-5 bg-body-secondary rounded">
      <div class="title border-bottom border-success">
        <h1 class="h4 text-uppercase text-center">regular</h1>
      </div>
      <ul class="list-unstyled mt-3">
        <li class="mb-2">
          <i class="fa-solid fa-check text-success me-2"></i> <span class="text-capitalize feature">browse recipes</span>
        </li>
        <li class="mb-2">
          <i class="fa-solid fa-check text-success me-2"></i> <span class="text-capitalize feature">favorite recipes</span>
        </li>
        <li class="mb-2">
          <i class="fa-solid fa-check text-success me-2"></i> <span class="text-capitalize feature">leave a comment</span>
        </li>
        <li class="mb-2">
          <i class="fa-solid fa-xmark text-danger me-2"></i> <span class="text-capitalize feature">Access Premium Recipes</span>
        </li>
        <li class="">
          <i class="fa-solid fa-xmark text-danger me-2"></i> <span class="text-capitalize feature">share your magical recipies</span>
        </li>
      </ul>
    </div>
  </div>
  <button class="btn btn-success text-uppercase fw-bold" (click)="makePayment()">get premium!</button>
</div>