<div class="container row m-auto mb-5" style="min-height: 80vh;">
    <div class=" col-12 col-lg-4 col-md-6 col-sm-10 co m-auto">
        <div class="rounded shadow-sm p-3" style="background-color: var(--main-background);">
            <div >
                <h2 class="text-center" style="color: var(--footer-color);">Reset Password</h2>
             <form [formGroup]="NewPassForm" (ngSubmit)="SendNewPassword('ResetPasswordSuccess')" >
                <div class=" mt-4 position-relative">
                    <label for="new-password" class=" mb-2">New Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="new-password"
                      formControlName="pass"
                      placeholder="Password"
                      [type]="isPasswordVisible ? 'text' : 'password'"
                    />
                    <div class="showIcon" (click)="togglePasswordVisibility()">
                      <i
                        class="fa-solid"
                        [class.fa-eye]="!isPasswordVisible"
                        [class.fa-eye-slash]="isPasswordVisible"
                      ></i>
                    </div>
                  </div>
                  @if (NewPassForm.controls['pass'].errors?.['required'] &&
                  NewPassForm.controls['pass'].touched) {
                  <small id="passHelp" class="form-text text-danger"
                    >please Add Your Password</small
                  >
                  } @if (NewPassForm.controls['pass'].errors?.['pattern'] &&
                  !NewPassForm.controls['pass'].errors?.['required']) {
                  <small id="passHelp" class="form-text text-danger"
                    >Password must be at least 6 characters long and include one lowercase
                    letter, one uppercase letter, one digit, and one special character.
                  </small>
                  }
                
                  <!-- Confirm Password -->
                  <div class="mt-4 position-relative">
                    <label for="new-password" class=" mb-2">Confirm New Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="register-confirm-password"
                      formControlName="confirmPass"
                      placeholder="Confirm Password"
                      [type]="isConfirmPasswordVisible ? 'text' : 'password'"
                    />
                    <div class="showIcon" (click)="toggleConfirmPasswordVisibility()">
                      <i
                        class="fa-solid"
                        [class.fa-eye]="!isConfirmPasswordVisible"
                        [class.fa-eye-slash]="isConfirmPasswordVisible"
                      ></i>
                    </div>
                  </div>
                  @if (NewPassForm.controls['confirmPass'].errors?.['required'] &&
                  NewPassForm.controls['confirmPass'].touched) {
                  <small id="emailHelp" class="form-text text-danger"
                    >please Add Your Confirm Password</small
                  >
                  } @if (NewPassForm.controls['confirmPass'].errors?.['pattern'] &&
                  !NewPassForm.controls['confirmPass'].errors?.['required']) {
                  <small id="emailHelp" class="form-text text-danger"
                    >Password must be at least 6 characters long and include one lowercase
                    letter, one uppercase letter, one digit, and one special character.
                  </small>
                  } @if (NewPassForm.controls['pass'].value !=
                  NewPassForm.controls['confirmPass'].value &&
                  !NewPassForm.controls['confirmPass'].errors?.['required']) {
                  <small id="emailHelp" class="form-text text-danger"
                    >Passwords not equal Confirm Password</small
                  >
                  }
                  @if(invalid){
                    <div class="mb-2"><span class="text-danger fw-normal text-capitalize">{{invalid}}</span></div>
                  } 
                
                
            
                <button type="submit" class="btn btn-auth mt-4 d-flex" [disabled]="NewPassForm.invalid" >Reset Password</button>
             </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="ResetPasswordSuccess" tabindex="-1" role="dialog" aria-labelledby="ResetPasswordSuccess" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
               <div class="text-center mb-4">
                <i class="far fa-check-circle check-icon" style="color: var(--btn-color); font-size: 50px;"></i>
              </div>
              <div>
                <p class="text-center" style="color: var(--footer-color);">Your Password has been reset; you can log in now!</p>
              </div>
              
        </div>
      </div>
    </div>
  </div>
