.btn {
    background-color: var(--main-btn-bg);
}
h1, form label{
    color: var(--main-color);
}

.main{
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.main .back{
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.main .back p{
    margin: 0;
}

.main p,.main i{
    transition: all 0.3s;
}
.main:hover i{
    transform: translateX(5px);
}
.main:hover p{
    transform: translateX(-5px);
}

@media (max-width: 1200px) {
    .col-lg-4,
    .col-lg-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .formEdit {
        margin-top: 20px;
    }
    .btn {
        width: fit-content;
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    .main {
        align-items: flex-start;
    }

    .main .back {
        margin-top: 15px;
    }

    .btn {
        width: fit-content;
        padding: 10px 20px;
    }
}

@media (max-width: 576px) {
    .btn {
        width: fit-content;
    padding: 10px 20px;
    }
}