
<footer class="footer p-5">
    <div class="container">
        <div class="row">
            <!-- Logo and Introduction -->
            <div class="col-lg-6 col-md-12 logoContent d-flex flex-column flex-md-row align-items-start">
                <img [src]="logo" alt="" class="w-50 me-4 mb-3 mb-md-0">
                <div class="footerTitle">
                    <h1 class="heading">Small Budget? Big Flavor!</h1>
                    <p class="w-100">
                        Cooking on a budget doesn’t have to be boring. Welcome to a world of mouthwatering recipes crafted to suit your daily routine and 
                        budget-friendly meals!
                    </p>
                </div>
            </div>

            <div class="menus col-lg-3 col-md-4">
                <!-- Recipes Menu -->
                <div class="menu-column ">
                    <h1 class="heading">Recipes</h1>
                    
                    <div class="footer-menu-wrap mt-2">
                        <ul id="menu-footer-1" class="menu menu--footer">
                            <li id="menu-item-70689" class="menu-item">
                                <a routerLink="/recipes">
                                    <span>Recipes</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="menus col-lg-3 col-md-4">
                <!-- About Menu -->
                <div class="menu-column ">
                    <h1 class="heading">About</h1>
                    
                    <div class="footer-menu-wrap mt-2">
                        <ul id="menu-footer-1" class="menu menu--footer">
                            <li id="menu-item-70689" class="menu-item">
                                <a routerLink="/about">
                                    <span>About</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Footer Bottom Section -->
            <div class="row footer-bottom mt-5 mb-5 mt-md-3">
                <div class="col-lg-8 col-md-7 m-0 mt-4">
                    Copyright ©2024 All rights reserved | This template is made with 
                    <i class="fa-solid fa-heart color" ></i>
                    by
                    <span class="color">MDR</span>
                </div>

                <div class="col-lg-4 col-md-5 footer-social mt-4">
					<a href="https://www.facebook.com/">
						<i class="fa-brands fa-facebook-f"></i>
					</a>
					<a href="https://www.instagram.com/">
						<i class="fa-brands fa-instagram"></i>
					</a>
					<a href="https://www.dribble.com/">
						<i class="fa-brands fa-dribbble"></i>
					</a>
					<a href="https://www.behance.net/">
						<i class="fa-brands fa-behance"></i>
					</a>
				</div>
				</div>
			</div>
        </div>
</footer>