<!-- Hero Section -->
<section class="home-banner relative">
    <div class="container-fluid pl-0">
        <div class="row justify-content-center align-items-center full-height">
            <div class="col-lg-6 p-0">
                <div class="banner-left d-flex justify-content-center flex-column">
                    <h1>Delicious recipes</h1>
                    <p>
                        Welcome to My Daily Recipes, your go-to hub for quick, easy, and creative recipes! Whether you're a novice or a seasoned cook, 
                        our site serves up a diverse menu of global flavors, step-by-step guides, and handy cooking tips. Let's cook up something amazing, 
                        one recipe at a time!
                    </p>
                    <a class="main-btn hero shadow" href="#categories">Let's Discover</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-right d-flex justify-content-center align-items-center">
                    <div class="round-planet planet">
                        <div class="round-planet planet2">
                            <div class="round-planet planet3">
                                <div class="shape shape1"></div>
                                <div class="shape shape2"></div>
                                <div class="shape shape3"></div>
                                <div class="shape shape4"></div>
                                <div class="shape shape5"></div>
                                <div class="shape shape6"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="face-img img-fluid" [src]="faceImg" alt="">
</section>

<!-- Top Dish Area Section -->
<app-top-dish-area title="Where every dish tells a story."></app-top-dish-area>

<!-- Categories Section -->
<section class="categories">
    <div class="container">
        <div class="row">
            @for (category of categories; track $index) {
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <div class="box position-relative">
                        <a href="#">
                            <img class="img-fluid object-fit-cover" [src]="category.img" alt="">
                            <div class="categoryName">
                                <h5>{{category.name}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>

        <!-- SubCategories -->
        <div class="row mt-5 flex-container mb-5">
            @for (subCategory of subCategories; track $index) {
                <div class="col">
                    <div class="smallBox position-relative text-center">
                        <a href="#" class="text-decoration-none">
                            <img class="img-fluid" [src]="subCategory.img" alt="">
                            <div class="categoryName">
                                <h5>{{subCategory.name}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Latest Section -->
<section class="latest p-5">
    <div class="container">
        <div class="row">
            <div class="latestRecipes d-flex justify-content-between mb-5">
                <h1>Latest Recipes</h1>
                <div class="allLatest d-flex gap-3 align-items-end">
                    <p>View All Latest</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
            @for (latestRecipe of recipesArr.slice(0, 4); track $index ) {
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="latestContent">
                        <a href="">
                            <img class="img-fluid rounded-3 object-fit-cover w-100" [src]="latestRecipe.image" alt="" style="height:330px;">
                            <div class="mt-3">
                                <p>{{latestRecipe.id}}</p>
                                <h5>{{latestRecipe.name}}</h5>
                                <p>{{latestRecipe.category.name}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
        <a class="main-btn recipe" routerLink="/recipes">View All Latest</a>
    </div>
</section>

<!-- Video Section -->
<div class="video-container position-relative">
    <video [src]="videoUrl" autoplay muted loop playsinline>
        <source [src]="videoUrl" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="slide-layers">
            <p class="layer1">
                Best food comes with
            </p>
            <p class="layer2">
                Best Technique
            </p>
        </div>
</div>

<!-- Top Dish Area Section -->
<app-top-dish-area title="Taste the magic in every recipe."></app-top-dish-area>

<!-- Recipes Section -->
<section class="recipes p-5">
    <div class="container">
        <div class="row">
            @for (recipe of randomRecipesArr; track $index ) {
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="latestContent">
                        <a href="">
                            <img class="img-fluid rounded-3 object-fit-cover w-100" [src]="recipe.image" alt="" style="height: 330px;">
                            <div class="mt-3">
                                <!-- <p>{{recipe.id}}</p> -->
                                <h5>{{recipe.name}}</h5>
                                <p>{{recipe.category.name}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
        <a class="main-btn recipe" routerLink="/recipes">View All Recipes</a>
    </div>
</section>

<!-- users -->
<section class="user">
    <div class="container" style="background-color: #395963;">
        <div class="row p-4 align-items-center">
            <div class="borderSection">
                <!-- Image Section -->
                <div class="col-lg-3 col-md-4 col-12 mb-3 mb-md-0 userImg">
                    <img [src]="userImg" class="w-100 rounded">
                </div>
                <!-- Content Section -->
                <div class="col-lg-9 col-md-8 col-12 userContent">
                    <h1 class="text-white">My Daily Recipes</h1>
                    <p class="mb-5 mt-3 text-white w-75">
                        Hi! We are the MDR Team, and this is my cozy space on the internet, supercharged with butter, flour, 
                        and copious amounts of pasta. Stay awhile, won't you?
                    </p>
                    <a class="main-btn shadow-none" routerLink="/about">About Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

