h1, form label{
    color: var(--main-color);
  }
  
  form input:focus, form textarea:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 10px 3px var(--main-color);
  }
  
  form button {
    background-color: var(--main-btn-bg);
    border-color: var(--main-btn-bg);
  }
  
  form button:hover{
    filter: brightness(1.1);
  }
  
  form .text-danger {
    color: var(--btn-color) !important;
  }

  .btn-outline-dark {
    color: var(--btn-outline-color);
  }

  .btn-outline-dark:hover {
    color: var(--third-color)
  }