<div class="container-fluid p-5">
  <div class="form d-flex justify-content-center">
    <div class="row">
      <div class="main">
        <h1 class="fw-bold mb-4">Edit Pending Recipe</h1>

        <div class="back" routerLink="/admin">
          <i class="fa-solid fa-chevron-left"></i>
          <p>Go Back</p>
        </div>
      </div>

      <div class="mb-2 col-lg-4">
        <img [src]="imageLink" alt="Recipe Image" class="img-thumbnail" />
      </div>

      <div class="col-lg-8 formEdit">
        <form
          [formGroup]="editForm"
          (ngSubmit)="editRecipe()"
          enctype="multipart/form-data"
        >
          <label for="recipeId" class="form-label">image:</label>
          <input
            type="file"
            class="form-control"
            id="recipeImage"
            formControlName="image"
            (change)="onFileSelected($event)"
          />

          <div class="mb-3 mt-3">
            <label for="recipeName" class="form-label">Name:</label>
            <input
              type="text"
              class="form-control"
              id="recipeName"
              formControlName="name"
            />
            @if(editForm.controls['name'].invalid &&
            editForm.controls['name'].touched){
            <span class="text-danger fw-bold ms-1">name is not valid</span>
            }@else if (editForm.controls['name'].valid &&
            editForm.controls['name'].touched) {
            <span class="text-success fw-bold ms-1">name is valid</span>
            }
          </div>

          <div class="mb-3">
            <label for="servings" class="form-label">servings:</label>
            <input
              type="number"
              class="form-control"
              id="servings"
              formControlName="servings"
            />
            @if(editForm.controls['servings'].invalid &&
            editForm.controls['servings'].touched){
            <span class="text-danger fw-bold ms-1">Serving is not valid</span>
            }@else if (editForm.controls['servings'].valid &&
            editForm.controls['servings'].touched) {
            <span class="text-success fw-bold ms-1">Serving is valid</span>
            }
          </div>

          <div class="mb-3">
            <label for="time" class="form-label">Time:</label>
            <input
              type="number"
              class="form-control"
              id="time"
              formControlName="time"
            />
            @if(editForm.controls['time'].invalid &&
            editForm.controls['time'].touched){
            <span class="text-danger fw-bold ms-1">time is not valid</span>
            }@else if (editForm.controls['time'].valid &&
            editForm.controls['time'].touched) {
            <span class="text-success fw-bold ms-1">time is valid</span>
            }
          </div>

          <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <input
              type="text"
              class="form-control"
              id="category"
              formControlName="category"
            />
            @if(editForm.controls['category'].invalid &&
            editForm.controls['category'].touched){
            <span class="text-danger fw-bold ms-1">category is not valid</span>
            }@else if (editForm.controls['category'].valid &&
            editForm.controls['category'].touched) {
            <span class="text-success fw-bold ms-1">category is valid</span>
            }
          </div>
          <div class="mb-3">
            <label for="subcategory" class="form-label">Sub Category:</label>
            <input
              type="text"
              class="form-control"
              id="subcategory"
              formControlName="subcategory"
            />
            @if(editForm.controls['subcategory'].invalid &&
            editForm.controls['subcategory'].touched){
            <span class="text-danger fw-bold ms-1"
              >subcategory is not valid</span
            >
            }@else if (editForm.controls['subcategory'].valid &&
            editForm.controls['subcategory'].touched) {
            <span class="text-success fw-bold ms-1">subcategory is valid</span>
            }
          </div>

          <div class="mb-3">
            <label for="Description" class="form-label">Description:</label>
            <input
              type="text"
              class="form-control"
              id="Description"
              formControlName="description"
            />
            @if(editForm.controls['description'].invalid &&
            editForm.controls['description'].touched){
            <span class="text-danger fw-bold ms-1"
              >description is not valid</span
            >
            }@else if (editForm.controls['description'].valid &&
            editForm.controls['description'].touched) {
            <span class="text-success fw-bold ms-1">description is valid</span>
            }
          </div>

          <div class="mb-3">
            <label for="Direction" class="form-label">Direction:</label>
            <input
              type="text"
              class="form-control"
              id="Direction"
              formControlName="directions"
            />
            @if(editForm.controls['directions'].invalid &&
            editForm.controls['directions'].touched){
            <span class="text-danger fw-bold ms-1"
              >directions is not valid</span
            >
            }@else if (editForm.controls['directions'].valid &&
            editForm.controls['directions'].touched) {
            <span class="text-success fw-bold ms-1">directions is valid</span>
            }
          </div>
          <div formArrayName="ingredients">
            <div
              *ngFor="
                let ingredient of editPendingRecipe?.ingredients;
                let i = index
              "
              [formGroupName]="i"
              class="row"
            >
              <div class="col-4">
                <label for="ingredientName">Ingredient Name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="ingredientName"
                  placeholder="ingredient..."
                  formControlName="name"
                />
              </div>

              <div class="col-4">
                <label for="quantity">Quantity:</label>
                <input
                  type="text"
                  class="form-control"
                  id="quantity"
                  placeholder="quantity..."
                  formControlName="quantity"
                />
              </div>

              <div class="col-4">
                <label for="measurementUnit">Units:</label>
                <input
                  type="text"
                  class="form-control"
                  id="measurementUnit"
                  placeholder="measurement unit..."
                  formControlName="measurement_unit"
                />
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn text-light mt-4 mb-5"
            [disabled]="!editForm.valid"
          >
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
