/* Navbar styles */
.navbar {
  padding: 0 70px;
  font-size: 18px;
  background-color: var(--light-bg-color);
}


.logo {
  cursor: pointer;
}

.logo img {
  width: 40%;
}

/* Search */
li {
  cursor: pointer;
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 500px;
  padding: 10px 10px;
  border: none;
  outline: none;
  background-color: #EEE;
}

.search-bar i {
  position: absolute;
  top: 47%;
  right: 3%;
  font-size: 16px;
  color: var(--main-color);
  transform: translateY(-50%);
}

.search-bar input:focus,
.search-bar textarea:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 10px 3px var(--main-color);
}

/* Links */
.links .navbar-nav {
  gap: 30px;
}

.links .navbar-nav .nav-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: var(--main-color);
}

.dark-mode .links .navbar-nav .nav-item a {
  color: white;
}

.nav-links i {
  font-size: 20px;
  color: var(--main-color);
}
.nav-link{
  /* padding-top: 28px; */
}

.nav-links a p {
  margin-top: 4px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
}

.links .navbar-nav .nav-item a:hover,
.links .navbar-nav .nav-item a.active {
  color: var(--btn-color) !important;
}

/* Login Style */
.modal-header {
  border-bottom: none;
}

.modal-title {
  text-align: center;
  color: var(--main-color);
  font-size: 55px;
  margin: auto;
}

.modal-body {
  padding: 0;
}

.switch {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.switch .switchCard {
  color: var(--btn-color);
  cursor: pointer;
}
.navbar-nav{
  justify-content: flex-end;
}
/* Responsive */
@media (max-width: 1199px) {
  .logo img {
    width: 5rem;
  }
.logomarg{
  padding-left: 0px;
}
  .navbar {
    padding: 10px 20px;
  }

  /* Center the search bar on small screens */
  .search {
    padding: 0px;
    /* display: flex;
    justify-content: center;
    width: 100%;  */
  }

  .navbar-toggler {
    border: none;
    width: fit-content;
  }

  /* Adjust the width of search input */
  .search-bar input {
    width: 100%;
  }

  /* Make sure the navbar collapse works well */
  .collapse {
    display: none !important;
  }
}

/* Additional Responsive navbar styles */
@media (max-width: 1199px) {
  .navbar-toggler {
    border: none;
    width: fit-content;
  }

  .navbar-collapse {
    display: none;
  }

  .collapse.show {
    display: block !important; 
  }

 

  .search-bar {
    width: 100%;
  }

  .links .navbar-nav {
    display: block;
    text-align: center;
    gap: 20px;
  }

  .links .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .links .navbar-nav .nav-item a {
    display: flex;
    justify-content: center;
    color: var(--main-color);
  }
  .hidelinks{
    display: none;
  }
}
