<nav class="navbar navbar-expand-xl sticky-top shadow" [ngStyle]="{ backgroundColor: darkMode ? '#191c24' : 'white'}">
  <div class="container-fluid">
    <div class="row w-100 align-items-center justify-content-between">
      <a class="nav-link" routerLinkActive="active" routerLink="/about" [ngStyle]="{ color: darkMode ? '#191c24' : 'var(--main-color)'}"></a>

      <!-- Logo Section -->
      <div class="col-1">
        <div class="navbar-brand logo">
          <img [src]="logo" alt="Logo" routerLink="" />
        </div>
      </div>

      <!-- Search Bar -->
      <div class="col-7 ml-4 col-xl-4 search">
        <app-search-input></app-search-input>
      </div>

      <!-- Navbar Toggle Button -->
      <div class="col-lg-1 col-1 col-md-1 col-sm-1 justify-content-end">
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span [ngClass]="{ 'notnavbar-toggler-icon': !isCollapsed, 'navbar-toggler-icon': isCollapsed }"  [ngStyle]="{ color: darkMode ? 'white' : 'var(--main-color)'}"></span>
        </button>
      </div>

      <!-- When Click To Links Will close navbar -->
      <div class="col-xl-4 links" id="navbarNav" [ngClass]="{ show: !isCollapsed }" (click)="closeNavbar()">
          <div [ngClass]="{'hidelinks': isCollapsed}">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{ exact: true }"
                  [ngStyle]="{ color: darkMode == true? 'white' : 'var(--main-color)'}">
                  <img src="assets/imgs/home.png" alt="home" class="chef">
                  <p>Home</p>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/recipes" [queryParams]="{ reverse: 'true' }" [ngStyle]="{ color: darkMode == true? 'white' : 'var(--main-color)'}">
                  <img src="assets/imgs/recipes.png" alt="recipes" class="chef">
                  <p>Recipes</p>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/about" [ngStyle]="{ color: darkMode == true? 'white' : 'var(--main-color)'}">
                  <img src="assets/imgs/about.png" alt="about" class="chef">
                  <p>About</p>
                </a>
              </li>

              <li class="nav-item" *ngIf="isLogged && !admin">
                <a class="nav-link" routerLinkActive="active" routerLink="/profile" [ngStyle]="{ color: darkMode == true? 'white' : 'var(--main-color)'}">
                  <img src="assets/imgs/chef.png" alt="person" class="chef">
                  <p>Profile</p>
                </a>
              </li>

              <li class="nav-item" *ngIf="isLogged && admin">
                <a class="nav-link" routerLinkActive="active" routerLink="/admin" [ngStyle]="{ color: darkMode == true? 'white' : 'var(--main-color)'}">
                  <img src="assets/imgs/chef.png" alt="person" class="chef">
                  <p>Admin</p>
                </a>
              </li>

              <!-- Login -->
              <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal" [ngStyle]="{ color: darkMode == true? 'white' : 'var(--main-color)'}">
                  <img src="assets/imgs/login.png" alt="login" class="chef">
                  <p>Login</p>
                </a>
              </li>


              <!-- Logout -->
              <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" (click)="logout()" [ngStyle]="{ color: darkMode == true? 'white' : 'var(--main-color)'}">
                  <img src="assets/imgs/logout.png" alt="logout" class="chef">
                  <p>Logout</p>
                </a>
              </li>

              <!-- Dark Mode -->
              <li class="nav-item" id="darkMode" (click)="toggleDarkMode()">
                <a class="nav-link" [ngStyle]="{ color: darkMode == true? 'white' : 'var(--main-color)'}">
                  <img src="assets/imgs/dark.png" alt="dark" class="chef" *ngIf="!darkMode" >
                  <img src="assets/imgs/light.png" alt="dark" class="chef" *ngIf="darkMode">
                  <p *ngIf="darkMode">Light</p>
                  <p *ngIf="!darkMode">Dark</p>
                </a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</nav>

<!-- Modals for Login and Register -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Sign In</h1>
      </div>
      <div class="modal-body text-center">
        <app-login></app-login>
        <p class="mt-4 switch">Already have an account!
          <a class="switchCard" (click)="switchModals('loginModal', 'registerModal')" data-bs-dismiss="modal">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Sign Up</h1>
      </div>
      <div class="modal-body text-center">
        <app-register></app-register>
        <p class="mt-4 switch">Don't have an account!
          <a class="switchCard" (click)="switchModals('registerModal', 'loginModal')" data-bs-dismiss="modal">Login</a>
        </p>
      </div>
    </div>
  </div>
</div>