<nav class="navbar">
  <!-- <app-top-dish-area [showTitle]="false"  [isNavbar]="true"></app-top-dish-area> -->
  <!-- customClass=".main-title .round-planet .main-title .round-planet.planet2 .top-dish-area .main-title.round-plane .shape.shape1 "> -->
  <div class="logo">
    <img src="assets/image/logo.png" alt="Logo" routerLink="">
  </div>

  <!-- Search Bar -->
  <div class="search-bar">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    <img  class="searchicon" src="assets/image/search.svg" alt="Search">
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="">
        <img src="assets/image/home.svg" alt="All Recipes Icon">
        <span>home</span>
      </a>
    </li>
    <li>
      <a routerLink="/recipes">
        <img src="assets/image/recipes.svg" alt="Bread Icon">
        <span>recipes</span>
      </a>
    </li>
    <li>
      <a routerLink="/about">
        <img src="assets/image/about-us.svg" alt="Breakfast Icon">
        <span>about</span>
      </a>
    </li>
    <li>
      <a routerLink="/profile">
        <img src="assets/image/profile.svg" alt="profile Icon">
        <span>profile</span>
      </a>
    </li>

    <!-- Login -->
    <li>
      <a data-bs-toggle="modal" data-bs-target="#loginModal">
        <i class="fa-solid fa-right-to-bracket"></i>
        <span>login</span>
      </a>
    </li>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLabel">Sign In</h1>
          </div>
          <div class="modal-body">
            <app-login></app-login>
            <p class="mt-4 switch">Already have account!
              <a class="switchCard" data-bs-toggle="modal" data-bs-target="#registerModal">Register</a>
            </p>
          </div>
        </div>
      </div>
    </div> 

    <!-- Register -->
    <li>
      <a data-bs-toggle="modal" data-bs-target="#registerModal">
        <i class="fa-solid fa-right-to-bracket"></i>
        <span>register</span>
      </a>
    </li>

    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLabel">Sign Up</h1>
          </div>
          <div class="modal-body">
            <app-register></app-register>
            <p class="mt-4 switch">Don't hava account!
              <a class="switchCard" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </ul>
</nav>
