/* Navbar styles */
.navbar {
  padding: 20px 70px;
  /* position: fixed; */
  background-color: white;
}

/* links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 55px; 
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links i {
  font-size: 20px;
  color: var(--main-color);
}

.nav-links a p{
  margin-top: 4px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
}


/* Login Style */

.modal-header{
  border-bottom: none;
}
.modal-title{
  text-align: center;
  color: var(--main-color);
  font-size: 55px;
  margin: auto;
}
.modal-body{
  padding: 0;
}
.switch{
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.switch .switchCard{
  color: var(--btn-color);
  cursor: pointer;
}

/* Not Work */
/* Navbar Style */
/* Test TopArea Section */
.main-title.round-plane .shape.shape1 {
  left: 37px;
}
.main-title .round-planet.planet2 {
  width: 70px;
  height: 70px;
}
.main-title .round-planet {
  width: 140px;
  height: 150px;
}
.top-dish-area {
  padding: 70px 0 75px;
}
/* Responsive Styles */
@media (max-width: 992px) {
  .navbar {
    padding: 10px 30px;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .nav-links a p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .logo img {
    height: 60px;
    width: 80px;
  }

  .nav-links {
    display: block;
    width: 100%;
    text-align: center;
  }

  .navbar {
    padding: 10px 20px;
  }

  .nav-links a p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .logo img {
    height: 50px;
    width: 70px;
  }
}