
<!-- User Section -->
<p-table [value]="users" [paginator]="true" [rows]="4">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between fs-3 dataName">
            Users
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr class="titleTable">
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr class="dataTable">
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.email }}</td>
            <td class="text-center" (click)="routeToEdit(data.id)">
                <i class="fa-solid fa-pen-to-square" style="color: var(--btn-color);" ></i>
            <td>{{ data.role }}</td>
            <td class="text-center">
                <i class="fa-solid fa-pen-to-square" style="color: var(--btn-color);"></i>
            </td>

            <!-- Delete Button -->
            <td class="text-center delete">
                <a data-bs-toggle="modal" data-bs-target="#deleteUsermodal" style="cursor: pointer;">
                    <i class="fa-solid fa-trash text-danger"></i>
                </a>
                
                <div class="modal fade" id="deleteUsermodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content"> 
                            <div class="modal-body">
                                <p class="mt-3 mb-0">Are you sure you want to delete this user?</p>
                            </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" (click)="deleteUser(data.id)" data-bs-dismiss="modal">Delete User</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
