.table{
    width: fit-content;
}
.dataName{
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 500;
}
.titleTable th{
    color: var(--second-color);
    font-family: var(--titleReciepe-font);
}
.dataTable td{
    font-size: 18px;
}