.table{
    width: fit-content;
}
.dataName{
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.titleTable th{
    color: var(--second-color);
    font-family: var(--titleReciepe-font);
}
.dataTable td{
    font-size: 18px;
}
.p-datatable-table .p-datatable-tbody > tr {
    background-color:#191c24 !important;
}
