<form [formGroup]="LoginForm" (ngSubmit)="loginSender()" class="auth">
    <!-- Email -->
    <div class="form-group">
        <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp" 
            formControlName="email" placeholder="Email">
    </div>
    <small *ngIf="LoginForm.controls['email'].errors?.['required'] && LoginForm.controls['email'].touched" 
        class="form-text text-danger">Please add your email.
    </small>
    <small *ngIf="LoginForm.controls['email'].errors?.['pattern'] && !LoginForm.controls['email'].errors?.['required']" 
        class="form-text text-danger">Invalid email format.
    </small>

    <!-- Password -->
    <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1"
            formControlName="password" placeholder="Password" [type]="isPasswordVisible ? 'text' : 'password'">
        <div class="showIcon" (click)="togglePasswordVisibility()">
            <i class="fa-solid" [class.fa-eye]="!isPasswordVisible" [class.fa-eye-slash]="isPasswordVisible"></i>
        </div>
        
    </div>
    <div>
        <a routerLink="/forgot-password" data-bs-dismiss="modal" style="color: var(--btn-color);">Forgot Password ?</a>
    </div>


    <small *ngIf="LoginForm.controls['password'].errors?.['required'] && LoginForm.controls['password'].touched" 
        class="form-text text-danger">Please add your password.
    </small>
    
    <small *ngIf="LoginForm.controls['password'].errors?.['pattern'] && !LoginForm.controls['password'].errors?.['required']" 
        class="form-text text-danger">Password must be at least 6 characters long and include one lowercase letter, one uppercase letter, 
        one digit, and one special character.
    </small>
    @if(invalid){
        <div class="mb-2"><span class="text-danger fw-normal text-capitalize">{{invalid}}</span></div>
    }
    @if(authenticated){
        <div class="mb-2"><span class="text-danger fw-normal text-capitalize">Your Account is not verified </span></div>
        <div class="mb-2"><a class="text-danger fw-normal text-capitalize" routerLink="/otp" data-bs-dismiss="modal">Click here to verify </a></div>
    }


    <button type="submit" class="btn btn-auth mt-4 d-flex" [disabled]="LoginForm.invalid" >Login</button>
</form>