<form [formGroup]="LoginForm" (ngSubmit)="loginSender()">
    <!-- Email -->
    <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
            formControlName = "email" placeholder="Email"
        >
    </div>
    @if (LoginForm.controls['email'].errors?.['required'] && LoginForm.controls['email'].touched) {
        <small id="emailHelp" class="form-text text-danger">please Add Your Email</small>
    }
    @if (LoginForm.controls['email'].errors?.['pattern'] && !LoginForm.controls['email'].errors?.['required']) {
        <small id="emailHelp" class="form-text text-danger">Invalid email format. </small>
    }

    <!-- Password -->
    <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1"
        formControlName = "password" placeholder="Password" [type]="isPasswordVisible ? 'text' : 'password'" 
        >
        <div class="showIcon" (click)="togglePasswordVisibility()">
            <i class="fa-solid" [class.fa-eye]="!isPasswordVisible" [class.fa-eye-slash]="isPasswordVisible"></i>
        </div>
    </div>
    @if (LoginForm.controls['pass'].errors?.['required'] && LoginForm.controls['pass'].touched) {
        <small id="passHelp" class="form-text text-danger">please Add Your Password</small>
    }
    @if (LoginForm.controls['pass'].errors?.['pattern'] && !LoginForm.controls['pass'].errors?.['required']) {
        <small id="passHelp" class="form-text text-danger">password length not length than 6 chars , 
            contains at least one lowercase, one uppercase, at least one digit and special char </small>
    }

    <button type="submit" class="btn btn-auth mt-4 d-flex" [disabled]="LoginForm.invalid" data-bs-dismiss="modal">Login</button>
</form>
