
<div class="container-xl my-5">
    <h1 class="recipe-title">{{ recipe?.name }}</h1>
    <div class="w-100 mt-3 border p-0">
      <img
        src="{{ recipe?.recipe.image }}"
        class="w-100 bg-cover object-fit-cover"
        alt="recipe-image"
      />
    </div>
    <div class="rounded shadow bg-light p-4 mt-3">
      <p class="recipe-description text">{{ recipe?.description }}</p>
    </div>

    <div class="how-to row mt-4 p-2">
      <div class="col-md-4 mb-4 mb-md-0">
        <h3 class="title text-uppercase">ingredients</h3>
        <ul class="body mt-2">
          <li  *ngFor="let ingredient of recipe?.recipe.ingredients "><i class="fa-solid fa-utensils me-2"></i>{{ ingredient.name }}</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3 class="title text-uppercase">directions</h3>
        <div class="body mt-2">
          <p>{{ recipe?.directions }}</p>
        </div>
      </div>
    </div>

    <div class="related-recipes mt-5">
      <h3 class="title text-uppercase">related recipes</h3>
      <div class="body mt-3 d-flex gap-3 overflow-x-scroll">
        <div *ngFor="let recipe of ingredient?.recipes" >
            <div class="card border-0" style="width: 300px;cursor: pointer;" (click)="onRecipeClick(recipe.id)" >
              <img class="rounded card-img-top w-100" src="{{ recipe?.image }}" alt="Title"/>
              <div class="card-body">
                <h4 class="card-title">{{ recipe?.name }}</h4>
              </div>
            </div>
        </div>
      </div>
    </div>
    
</div>