*{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}


/* recipe hero ========================= */
.recipe-title{
  font-family: var(--main-font);
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
  text-transform: capitalize;
}

.recipe-description {
  font-family: var(--second-font);
  color: var(--second-color);
  font-size: 14px;
}

/* recipe how to ========================= */
.how-to .title {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 800;
}

.how-to .body{
  font-family: var(--second-font);
  font-size: 16px;
}

/* related recipes ========================= */
.related-recipes .title{
  font-family: var(--main-font);
  font-size: 28px;
  font-weight: 800;
}

.related-recipes .body .card {
  border: none;
}

.related-recipes .card-title{
  font-size: 16px;
}