<div class="container row m-auto mb-5" style="min-height: 80vh;">
    <div class=" col-12 col-lg-4 col-md-6 col-sm-10 co m-auto">
        
        <div class="rounded shadow-sm p-3" style="background-color: var(--main-background);">
            <div >
                <h2 class="text-center" style="color: var(--primary-text-color);">Forgot Password</h2>
            <p class="text-center mt-3" >Please Enter Your Account Email to sent reset password code to it </p>
            <form [formGroup]="EmailForm" (ngSubmit)="SendEmail()" class="auth">
                <!-- Email -->
                <div class="form-group">
                    <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp" 
                        formControlName="email" placeholder="Email">
                </div>
                <small *ngIf="EmailForm.controls['email'].errors?.['required'] && EmailForm.controls['email'].touched" 
                    class="form-text text-danger">Please add your email.
                </small>
                <small *ngIf="EmailForm.controls['email'].errors?.['pattern'] && !EmailForm.controls['email'].errors?.['required']" 
                    class="form-text text-danger">Invalid email format.
                </small>
                @if(invalid){
                        <div class="mb-2"><span class="text-danger fw-normal text-capitalize">{{invalid}}</span></div>
                } 
            
                <button type="submit" class="btn btn-auth mt-4 d-flex" [disabled]="EmailForm.invalid" >Send Code</button>
            </form>
            </div>
            
        </div>
        
        
    </div>
</div>


