/* You can add global styles to this file, and also import other style files */

:root{
  --main-background: #f9f9ff;

  --main-color: #395963;
  --second-color: #777;
  --third-color: #eee;

  --boxCategory-color: #F6E1D3;
  --btn-color: #fe735c; 

  --boxShadow-color: rgba(244, 47, 44, 0.32);

  --main-font: 'Playfair Display', serif;
  --second-font: 'Nanum Gothic', sans-serif;
  --titleReciepe-font: "EB Garamond", serif;
  
  --footer-color: #395963;
}

h1{
  font-family: var(--main-font);
}

p{
  font-family: var(--second-font);
}

/* Login & Register */

.banner{
  display: flex;
  height: 100vh;  
  background-color: rgba(0, 0, 0, 0.5);
}

.banner .container{
  display: flex;
  justify-content: center;
  padding: 55px;
}

.banner .main{
  width: 500px;
  height: 670px;
  overflow: hidden;
  background-color: #eaeaea ;
  border-radius: 20px;
  box-shadow: 7px 25px 50px #000;
}

.banner .main h1{
  text-align: center;
  color: var(--main-color);
  padding-top: 18px;
  font-size: 55px;
}

.banner .form-group{
  display: flex;
  align-items: center;
}

.form-group {
  position: relative;
}

.showIcon {
  position: absolute;
  right: 28%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
}
