<div class="container">
    <div *ngIf="!success" class="w-100">
      <p class="fw-bold mb-4 col-12">Links</p>
      <form [formGroup]="LinksForm" (ngSubmit)="Link()">
        <div class="mb-3">
          <label for="youtube_link" class="form-label fs-5"><img src="assets/imgs/youtube.png" alt="youtube" >Youtube</label>
          <input type="text" id="youtube_link" formControlName="youtube_link" class="form-control" placeholder="https://www.youtube.com/">
        </div>
        <div class="mb-3">
            <label for="instagram_link" class="form-label fs-5"><img src="assets/imgs/instagram.png" alt="instagram" >Instagram</label>
            <input type="text" id="instagram_link" formControlName="instagram_link" class="form-control" placeholder="https://www.instagram.com/">
        </div>
        <div class="mb-3">
            <label for="tiktok_link" class="form-label fs-5"><img src="assets/imgs/tiktok.png" alt="tiktok" >TikTok</label>
            <input type="text" id="tiktok_link" formControlName="tiktok_link" class="form-control" placeholder="https://www.tiktok.com/">
        </div>
        <div class="mb-3">
          <label for="bio" class="form-label fs-5">Bio</label>
          <textarea id="bio" formControlName="bio" class="form-control" placeholder="Add your Bio"></textarea>

      </div>
        <button type="submit" class="btn text-light px-4 mt-4">Save</button>
      </form>
    </div>
  
    <div *ngIf="success" class="text-center mb-3">
      <i class="far fa-check-circle check-icon" style="color: var(--btn-color); font-size: 50px;"></i>
      <p class="text-center mt-2" style="color: var(--main-color);">Bio Updated successfully!!</p>
    </div>
  </div>
