/*  */
.overview-border {
  border-color: #ffffff !important;
}

.dark-mode .overview-border {
  border-color: #191c24 !important; 
}

.team-section {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.title {
  color: var(--main-color);
  font-size: 62px;
}

.subtitle {
  color: var(--second-color);
}

.team-member {
  display: flex;
  align-items: center;
  color: white;
  padding: 20px;
  border: none; 
  box-shadow: none; 
  margin: 0; 
  border-radius: 0;
}

.member-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid var(--btn-color);
}

.member-info h1 {
  text-align: left;
  color: var(--main-color);
}

.member-info h3 {
  text-align: left;
  color: #333;
  font-size: 20px;
}

.member-info p {
  text-align: left;
  font-size: 16px;
  color: var(--second-color);
  font-weight: 600;
}

@media (orientation: landscape) {
  .img-orientation {
    transform: rotate(0deg);
    width: 25%;
    img {
      width: 100%;
    }
  }
}

@media (orientation: portrait) {
  .img-orientation {
    transform: rotate(90deg);
    width: 75%;
    display: flex;
    justify-content: center;
    margin-left: 13%;
    img {
      width: 100%;
    }
  }
}

.flip {
  transform: rotate(90deg);
}
