<div class="container my-5">
  <section
    class="user-details d-flex justify-content-between align-items-center"
  >
    <h1 class="text-capitalize fw-bold" style="color: var(--main-color)">
      <img src="s/imgs/chef.png" alt="chef" class="chef" /> {{ user?.name }}
    </h1>
    <a
      data-bs-toggle="modal"
      data-bs-target="#Edit"
      style="color: var(--main-color); font-size: 24px"
      ><i class="fa fa-cog" aria-hidden="true"></i
    ></a>
  </section>

  <section class="mt-5">
    <div class="title d-flex justify-content-between align-items-center">
      <h1 class="text-capitalize m-0 fw-bold" style="color: var(--main-color);"><img src="assets/imgs/bio.png" alt="chef" class="chef"> Bio</h1>
      <a  data-bs-toggle="modal" data-bs-target="#Socials" style="color: var(--main-color); font-size: 24px;"><i class="fa fa-cog" aria-hidden="true"></i>
      </a>
    </div>
    <div class=" d-flex justify-content-center flex-column align-items-center" *ngIf="!user.youtube_link && !user.instagram_link && !user.tiktok_link" >
      <div class="p-3">
        <h3 class="text-center text-secondary">
          Add Social links to spread your Magic !!
        </h3>
      </div>
    </div>
    <div style="margin:0px 40px 0px  65px;">

      <p class="text-secondary fs-5 bio darkbio" >{{user.bio}}</p>
    </div>
    <div class="d-flex " style="margin-left: 65px;">
      <div *ngIf="user.youtube_link" class="me-4  rounded">
        <a [href]="user.youtube_link" class="links "><img src="assets/imgs/youtube.png" alt="youtube" class="link-img">Youtube</a>
      </div>
      <div *ngIf="user.instagram_link" class="me-4   rounded">
        <a [href]="user.instagram_link" class="links "><img src="assets/imgs/instagram.png" alt="instagram" class="link-img">Instagram</a>
      </div>
      <div *ngIf="user.tiktok_link" class="me-4   rounded">
        <a [href]="user.tiktok_link" class="links "><img src="assets/imgs/tiktok.png" alt="tiktok" class="link-img">Tiktok</a>
      </div>
    </div>
  </section>

  <section class="recipes-wrapper mt-5">
    <div class="title">
      <h1 class="fw-bold text-capitalize">
        <img src="assets/imgs/heart.png" alt="chef" class="chef" />your favorite
        recipes
      </h1>
    </div>
    <div
      class="body mt-4 d-flex gap-3 overflow-x-auto"
      *ngIf="user?.recipes_saves.length > 0"
    >
      <div *ngFor="let recipe of user?.recipes_saves">
        <div
          class="card border-0"
          style="width: 300px; cursor: pointer"
          (click)="onRecipeClick(recipe.id)"
        >
          <div class="image-wrapper overflow-hidden rounded">
            <img
              class="rounded card-img-top w-100 object-fit-cover"
              src="{{ recipe?.image }}"
              alt="Title"
              style="height: 330px"
            />
          </div>
          <div class="card-body px-0">
            <div
              class="category-time d-flex align-items-baseline justify-content-between"
            >
              <span class="h6 related-recipe-category">{{
                recipe?.category.name
              }}</span>
              <div class="time">
                <span class="h6 me-2"><i class="fa-regular fa-clock"></i></span>
                <span class="h6">{{ recipe?.time }} mins</span>
              </div>
            </div>
            <h4 class="card-title">{{ recipe?.name }}</h4>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row d-flex justify-content-center flex-column align-items-center"
      *ngIf="user.recipes_saves.length == 0"
    >
      <div class="p-5">
        <h3 class="text-center text-secondary p-5">
          Your Favorite List is Empty Fill it with recipes to come back to !!
        </h3>
      </div>
    </div>
  </section>

  <!-- premium ========================================================================================= -->
  <section class="recipes-wrapper mt-5" *ngIf="isPremium">
    <div class="title d-flex justify-content-between align-items-center">
      <h1 class="fw-bold text-capitalize">
        <img src="assets/imgs/sand.png" alt="chef" class="chef" />Waiting for
        Aproval
      </h1>
    </div>
    <div
      class="body mt-4 d-flex gap-3 overflow-x-auto"
      *ngIf="user.pending_recipes.length != 0"
    >
      <div
        *ngFor="let recipe of user?.pending_recipes"
        class="position-relative"
      >
        <div
          class="card border-0"
          style="width: 300px; cursor: pointer"
          
        >
          <div class="image-wrapper overflow-hidden rounded">
            <img
              class="rounded card-img-top w-100 object-fit-cover"
              src="{{ recipe?.image }}"
              alt="Title"
              style="height: 330px"
            />
          </div>
          <span
            class="badge bg-secondary position-absolute top-0 start-0 m-2"
            *ngIf="recipe.status == 'pending'"
            >{{ recipe.status }}</span
          >
          <span
            class="badge bg-danger position-absolute top-0 start-0 m-2"
            *ngIf="recipe.status == 'denied'"
            >{{ recipe.status }}</span
          >
          <span
            class="text-center position-absolute top-0 end-0 m-2"
            *ngIf="recipe.status == 'denied'"
            (click)="editPendingRecipe(recipe?.id)"
          >
            <i
              class="fa-solid fa-pen-to-square"
              style="color: var(--main-color); font-size: 20px"
            ></i>
          </span>
          <div class="card-body px-0">
            <div
              class="category-time d-flex align-items-baseline justify-content-between"
            >
              <span class="h6 related-recipe-category">{{
                recipe?.category.name
              }}</span>
              <div class="time">
                <span class="h6 me-2"><i class="fa-regular fa-clock"></i></span>
                <span class="h6">{{ recipe?.time }} mins</span>
              </div>
            </div>
            <h4 class="card-title">{{ recipe?.name }}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <!-- <div *ngIf="user.recipes.length==0 " class="col-lg-2 col-m-3 col-sm-3 col-4">
      
        <img src="assets/img/empty-box_4826310.png" alt="empty" class="w-100">
      </div> -->
      <div class="p-5" *ngIf="user.pending_recipes.length == 0">
        <h3 class="text-center text-secondary p-5">
          No Submitted Recipes yet!!
        </h3>
      </div>
    </div>
  </section>
  <section class="recipes-wrapper mt-5" *ngIf="isPremium">
    <div class="title d-flex justify-content-between align-items-center">
      <h1 class="fw-bold text-capitalize">
        <img src="assets/imgs/magic.png" alt="chef" class="chef" />your magic
      </h1>
      <a
        routerLink="/add-recipe/{{ user.id }}"
        class="text-capitalize text-bold text-decoration-none btn btn-dark btn-sm px-lg-3 py-lg-2"
        >add recipe</a
      >
    </div>
    <div
      class="body mt-4 d-flex gap-3 overflow-x-auto"
      *ngIf="user.recipes.length != 0"
    >
      <div *ngFor="let recipe of user?.recipes" class="position-relative">
        <div
          class="card border-0"
          style="width: 300px; cursor: pointer"
          (click)="onRecipeClick(recipe.id)"
        >
          <div class="image-wrapper overflow-hidden rounded">
            <img
              class="rounded card-img-top w-100 object-fit-cover"
              src="{{ recipe?.image }}"
              alt="Title"
              style="height: 330px"
            />
          </div>
          <span class="badge bg-success position-absolute top-0 start-0 m-2"
            >Accepted</span
          >
          <div class="card-body px-0">
            <div
              class="category-time d-flex align-items-baseline justify-content-between"
            >
              <span class="h6 related-recipe-category">{{
                recipe?.category.name
              }}</span>
              <div class="time">
                <span class="h6 me-2"><i class="fa-regular fa-clock"></i></span>
                <span class="h6">{{ recipe?.time }} mins</span>
              </div>
            </div>
            <h4 class="card-title">{{ recipe?.name }}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <!-- <div *ngIf="user.recipes.length==0 " class="col-lg-2 col-m-3 col-sm-3 col-4">
      
        <img src="assets/img/empty-box_4826310.png" alt="empty" class="w-100">
      </div> -->
      <div class="p-5" *ngIf="user.recipes.length == 0">
        <h3 class="text-center text-secondary p-5">
          Share your culinary magic with us and get featured on our website!
          Send your favorite recipe !!
        </h3>
      </div>
    </div>
  </section>
  <!-- regular ========================================================================================= -->
  <!-- <section class="mt-5 bg-body-secondary px-5 py-3 rounded d-flex justify-content-between">
    <h1>get more! get premium!</h1>
    <button class="btn btn-success fw-bold text-uppercase">go!</button>
  </section> -->
  <!-- premium banner -->
  <section class="ad-banner mt-5" *ngIf="!isPremium">
    <div class="container" style="background-color: #395963">
      <div class="row p-4 align-items-center">
        <div class="borderSection">
          <!-- Content Section -->
          <div class="col-12 userContent">
            <h1 class="text-white text-uppercase">get premium</h1>
            <p class="mb-5 mt-3 text-white w-75">
              support us and get more, add you're own recipies to our webiste,
              let the world see your magic with our premium one time payment!
            </p>
            <a class="main-btn shadow-none fw-bold" routerLink="/payment"
              >check it</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div
  class="modal fade"
  id="Edit"
  tabindex="-1"
  aria-labelledby="Edit"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-edit-profile></app-edit-profile>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="Socials"
  tabindex="-1"
  aria-labelledby="Socials"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-socials></app-socials>
      </div>
    </div>
  </div>
</div>
