.title {
  color: var(--main-color);
}
.chef {
  width: 50px;
  padding-bottom: 15px;
  padding-right: 5px;
}

.image-wrapper img {
  transition: all 0.3s ease;
}

.image-wrapper img:hover {
  transform: scale(1.1);
}


.recipes-wrapper .card-title {
  font-size: 24px;
  color: var(--main-color);
  font-family: var(--main-font);
}

.related-recipe-category {
  color: var(--btn-color) !important;
}

.time {
  color: var(--main-color);
}

/* Links */
.links {
  color:var(--main-color) !important;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}
.links:hover {
  color: var(--btn-color);
  text-decoration: underline;
  transform: scale(1.05);
}
.shadow-sm:hover {
  box-shadow: 0px 0px 30px var(--boxShadow-color) !important;
}
.link-img {
  width: 40px;
  padding-right: 10px;
}

/* Bio */
.bio{
    margin:0px 40px 5px 27px;
}
.bio p{
    max-width: 100%; 
    word-wrap: break-word; 
}

