
<!-- Top Dish Area Section -->
<section class="top-dish-area" id="categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title position-relative">
                    <h1>{{ title }}</h1>
                    <div class="round-planet planet" [ngClass]="{'planet-navbar': isNavbar}">
                        <div class="round-planet planet2" [ngClass]="{'planet2-navbar': isNavbar}">
                            <div class="shape shape1" [ngClass]="{'shape1-navbar': isNavbar}"></div>
                            <div class="shape shape2" [ngClass]="{'shape2-navbar': isNavbar}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>